{{ $input := . }}

<div class="section-container">
    <section class="section section--long event-highlights-section">
        <header class="event-highlights-section__header">
            <article class="event-highlights-section__description">
                <h2 class="heading heading--2">
                    {{ $input.subtitle | safeHTML }}
                </h2>

                <div class="paragraph event-highlights-section__paragraph">{{ $input.description | markdownify }}</div>
            </article>
        </header>

        <article class="event-highlights-section__figures">
            {{- if $input.numberOfSpeakers }}
                {{ partial "highlight-figure.html" (
                    dict
                    "icon" "icons/speaker.svg"
                    "caption" (T "event_highlights_section.number_of_speakers" $input.numberOfSpeakers)
                    )
                }}
            {{- end }}
            {{- partial "highlight-figure.html" (
                dict "icon" "icons/session.svg"
                "caption" "16-20 August"
                )
            }}
            {{- partial "highlight-figure.html" (
                dict "icon" "icons/calendar.svg"
                "caption" "4 Days"
                )
            }}
            {{- if $input.location }}
                {{- partial "highlight-figure.html" (
                    dict "icon" "icons/location.svg"
                    "caption" $input.location
                    )
                }}
            {{- end }}
        </article>
    </section>
</div>
