{{- define "main" }}
    {{- partial "sections/event-title.html"
        (dict
        "title" .Site.Params.themes.event.title
        "heroSubtitle" .Site.Params.themes.event.heroSubtitle
        "location" .Site.Params.themes.event.location
        "startDate" .Site.Params.themes.event.startDate
        "backgroundImage" .Site.Params.themes.event.images.titleBackground
        "eventbriteId" .Site.Params.themes.event.callToAction.eventbrite.eventId
        "ctaUrl" .Site.Params.themes.event.callToAction.other.url
        "ctaSecondary" .Site.Params.themes.event.callToActionSecondary
        )
    }}

    {{ $eventStartDate := or .Site.Params.themes.event.startDate now | time }}
    {{ $eventEndDate := or .Site.Params.themes.event.endDate now | time }}
    {{ $dayInSeconds := 86400 }}
    {{ partial "sections/event-highlights.html" (
        dict
        "title" .Site.Params.themes.event.title
        "subtitle" .Site.Params.themes.event.slogan
        "description" .Site.Params.themes.event.description
        "logo" .Site.Params.themes.event.images.logo
        "numberOfSpeakers" ((where .Site.RegularPages "Section" "speakers") | len)
        "numberOfSessions" (where (where .Site.RegularPages "Section" "sessions") "Params.isServiceSession" false | len)
        "numberOfDays" (div (sub (add $eventEndDate.Unix $dayInSeconds) $eventStartDate.Unix) $dayInSeconds)
        "location" .Site.Params.themes.event.location )
    }}

    <!-- For Whom section -->
    <div class="section-container">
        <section class="section section--long iops-for-whom">
            <h2 class="iops-section-heading">Principles on which we build the summer school</h2>
            <p class="iops-section-lead">Let's connect inner change with the change we create in the world around us</p>
            <div class="iops-cards">
                <div class="iops-card">
                    <p class="iops-card__title">Holistic principle</p>
                    <p class="iops-card__text">The whole person is involved—not only the mind, but also the body, feelings and dreams.</p>
                </div>
                <div class="iops-card">
                    <p class="iops-card__title">Partnership and emancipatory approach</p>
                    <p class="iops-card__text">Exploration of question of power in education and implementation of participatory programs.</p>
                </div>
                <div class="iops-card">
                    <p class="iops-card__title">Call to action</p>
                    <p class="iops-card__text">Emphasizing self-reflection, but also the transfer of learning into the actions of students.</p>
                </div>
                <div class="iops-card">
                    <p class="iops-card__title">Variety of formats and methods</p>
                    <p class="iops-card__text">Which are going to be methodologically reflected in order to support transfer tailored to your educational context.</p>
                </div>
            </div>
        </section>
    </div>

    <!-- Benefits section -->
    <div class="section-container section-container--dimmed">
        <section class="section section--long iops-benefits">
            <h2 class="iops-section-heading">What is in store for you</h2>
            <p class="iops-section-lead">4 days of fulfilling learning and methodical reflection in a beautiful setting</p>
            <div class="iops-cards">
                <div class="iops-card">
                    <p class="iops-card__title">4 days long international summer school</p>
                    <p class="iops-card__text">with 40 participants who see education as a strategy for social change</p>
                </div>
                <div class="iops-card">
                    <p class="iops-card__title">Principles of education for a world of crises</p>
                    <p class="iops-card__text">which you will experience in a variety of formats and methods</p>
                </div>
                <div class="iops-card">
                    <p class="iops-card__title">Consistent methodical reflection</p>
                    <p class="iops-card__text">tailored to your context</p>
                </div>
                <div class="iops-card">
                    <p class="iops-card__title">20 years of educational experience</p>
                    <p class="iops-card__text">by the NaZemi organization</p>
                </div>
                <div class="iops-card">
                    <p class="iops-card__title">A beautiful venue in a historic monastery</p>
                    <p class="iops-card__text">where we strive to live and learn in alignment with the values of a socially and ecologically just future</p>
                </div>
            </div>
        </section>
    </div>

    {{- $topSpeakers := slice }}
    {{- range (where .Site.Pages "Section" "speakers") }}
        {{- if .Params.isTopSpeaker }}
            {{- $topSpeakers = $topSpeakers | append (
                dict
                "profileUrl" .RelPermalink
                "avatarResource" (.Resources.GetMatch "avatar.*")
                "name" .Title
                "description" .Params.tagLine
                "linkedinUrl" .Params.linkedinUrl
                "xUrl" .Params.xUrl
                "companyUrl" .Params.company
                )
            }}
        {{- end }}
    {{- end }}

    {{- if gt ($topSpeakers | len) 0 }}
        {{ partial "sections/featured-speakers.html" (
            dict
            "speakers" $topSpeakers
            "speakersUrl" (.Site.GetPage "speakers").RelPermalink
            )
        }}
    {{- end }}

    {{- $featuredSessions := slice }}
    {{- range (where .Site.Pages "Section" "sessions") }}
        {{- if (in .Site.Params.themes.event.featuredSessions .Params.sessionId) }}
            {{- $featuredSessionPage := . }}
            {{- $featuredSessionSpeakers := slice }}
            {{- range .Params.speakers }}
                {{- $speaker :=  . }}
                {{- $featuredSessionSpeakers = $featuredSessionSpeakers | append (
                    dict
                    "avatarResource" ($featuredSessionPage.Resources.GetMatch (printf "avatar-%s.*" $speaker.id))
                    "name" $speaker.fullName
                    "slogan" $speaker.tagLine
                    )
                }}
            {{- end }}
            {{- $featuredSessions = $featuredSessions | append (
                dict
                "sessionUrl" $featuredSessionPage.RelPermalink
                "sessionName" $featuredSessionPage.Title
                "sessionDescription" $featuredSessionPage.RawContent
                "speakers" $featuredSessionSpeakers
                "categories" $featuredSessionPage.Params.categories
                )
            }}
        {{- end }}
    {{- end }}

    {{- if gt ($featuredSessions | len) 0 }}
        {{ partial "sections/featured-sessions.html" (
            dict
            "sessions" $featuredSessions
            "sessionsUrl" (.Site.GetPage "sessions").RelPermalink
            )
        }}
    {{- end }}

    {{- partial "sections/our-sponsors.html" (dict "sponsors" .Site.Params.themes.event.sponsors) -}}
{{- end }}
